<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Posters
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" autofocus>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Find Films</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Search bar and button that will allow the user to seach for a movie -->
  <ion-item>
    <!-- Bind the value of the input field to the searchTerm property in the .ts file -->
    <ion-input placeholder="Enter movie title or keyword" [(ngModel)]="searchTerm" type="text" inputmode="email"></ion-input>
    <ion-button (click)="getMovie(searchTerm)">
      <ion-icon slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- List of cards with poster and details -->
  <div align="center">
    <ion-card *ngFor="let movie of Movies">
      <ion-img alt="movie poster" src="{{ movie.Poster }}"></ion-img>
      <ion-card-header>
        <h1>{{ movie.Title }}</h1>
        <h3>({{ movie.Year }})</h3>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
