<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Posters
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Posters</ion-title>
    </ion-toolbar>
  </ion-header>

  <div align="center">
    <!-- Card with poster -->
    <ion-card *ngFor="let Poster of movies_images">
      <img alt="movie" src="{{ Poster.posters }}" />
    </ion-card>
  </div>
</ion-content>
