<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movie Search App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" autofocus>
  <!-- Search bar and button that will allow the user to seach for a movie -->
  <ion-item>
    <!-- REQUIREMENT 1 - Built-in Data Binding properties – e.g. interpolation, two-way data binding (ngModel) -->
    <!-- Bind the word entered by the user to the title property in the .ts file -->
    <ion-searchbar placeholder="Search. e.g. The Tree of Life"
                   [(ngModel)]="title"
                   animated="true"
                   #searchInput
                   (click)="showKeyboard()">
    </ion-searchbar>

    <ion-button (click)="getMovie(title)" class="searchBtn">
      <ion-icon slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- Top buttons -->
  <div align="center" [hidden]="isHidden">
    <!-- Add to Watchlist -->
    <ion-button class="addToWatchlist">
      <ion-icon slot="icon-only" name="time"></ion-icon>
    </ion-button>

    <!-- Go to IMDB page -->
    <ion-button (click)="openIMDBPage(title)" class="addToWatchlist">
      <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
    </ion-button>
  </div>
  
  <!-- Card with poster and details -->
  <!-- REQUIREMENT 1 - Built-in Data Binding properties – e.g. interpolation ({{ }}), two-way data binding -->
  <div [hidden]="isHidden">
    <ion-card *ngFor="let movie of Movies">
      <ion-img alt="movie poster" src="{{ movie.Poster }}"></ion-img>
      <ion-card-header>
        <h1>{{ movie.Title }}</h1>
        <h3>({{ movie.Year }})</h3>
        <h3>Directed by {{ movie.Director }}</h3>
        <h3>Age Rating: {{ movie.Rated }}</h3>
        <h3>IMDB Rating: {{ movie.imdbRating }}/10</h3>
        <h3>Runtime: {{ movie.Runtime }}</h3>
        <h3>Genre: {{ movie.Genre }}</h3>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
