* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    font-weight: bolder;
    color: white;
}
h3 {
    font-size: medium;
    font-weight: lighter;
    margin-top: auto;
}
ion-searchbar {
    --placeholder-opacity: 0.3;
}

.add {
    margin: 10px;
}
.addToWatchlist {
   padding-top: 5%;
}
.searchBtn {
   
}