<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Watchlist
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Watchlist</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div align="center">
      <ion-button (click)="clearWatchlist()" style="position: center;">Clear Watchlist</ion-button>
    </div>
    <ion-grid class="poster-grid">
      <ion-row *ngFor="let movie of watchlist">
        <ion-col>
            <ion-img [src]="movie"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
