<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Back button -->
    <ion-buttons>
      <ion-back-button defaultHref="../app-tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">More Info</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-card *ngFor="let movie of Movies">
      <ion-card-header>
        <h4><b>Release date:</b> {{ movie.Released }}</h4>
        <h4><b>Written by</b> {{ movie.Writer }}</h4>
        <h4><b>Box Office:</b> {{ movie.BoxOffice }}</h4>
        <h3><b>Synopsis:</b> {{ movie.Plot }}</h3>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
